USE [master]
GO
/****** Object:  Database [HotelSystem]    Script Date: 7/31/2026 7:41:47 PM ******/
CREATE DATABASE [HotelSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelSystem', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HotelSystem.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HotelSystem_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HotelSystem_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelSystem]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[NationalNo] [nvarchar](20) NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[DateIn] [datetime] NOT NULL,
	[DateOut] [datetime] NOT NULL,
	[RoomNo] [int] NOT NULL,
	[ClientID] [int] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_Reservation] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[IsFree] [bit] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Username] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Reservation_view]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Reservation_view] as
select r.ReservationID, Rooms.Type, r.RoomNo, r.ClientID, r.DateIn, r.DateOut from Reservation r inner join Rooms on r.RoomNo = Rooms.RoomID
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_User] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_User]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Clients] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Clients]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Rooms] FOREIGN KEY([RoomNo])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Rooms]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_User] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_User]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_User] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_User]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddClients]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_AddClients]
	@fname nvarchar(50),
	@lname nvarchar(50),
	@phone nvarchar(50),
	@address nvarchar(100),
	@national nvarchar(20),
	@userId int,
	@clientId int output
AS
Begin
	Set NOCOUNT ON;
	Insert Into Clients Values (@fname, @lname, @phone, @address, @national, @userId);
	Set @clientId = SCOPE_IDENTITY();
End
GO
/****** Object:  StoredProcedure [dbo].[SP_AddnewUser]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_AddnewUser]
	@username nvarchar(50),
	@password nvarchar(100),
	@userId int Output
AS
Begin
	Set NOCOUNT ON;
	Begin try
		
		Insert into Users
		values (@username, @password);

		Set @userId = SCOPE_IDENTITY();
	End try
	Begin Catch
		if ERROR_NUMBER() = 2627
			Throw 50001, 'This username is already exist', 1;

		Throw;
	End Catch
End
GO
/****** Object:  StoredProcedure [dbo].[SP_AddReservation]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_AddReservation]
	@dateIn datetime,
	@dateOut datetime,
	@roomId int,
	@clientId int,
	@userId int,
	@reservationId int output
AS
Begin
	Set NOCOUNT ON;
	Insert into Reservation Values (@dateIn, @dateOut, @roomId, @clientId, @userId);
	Set @reservationId = SCOPE_IDENTITY();
End
GO
/****** Object:  StoredProcedure [dbo].[SP_AddRoom]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_AddRoom]
	@type nvarchar(50),
	@phone nvarchar(50),
	@isFree bit,
	@userId int,
	@roomId int output
AS
Begin
	Set NOCOUNT ON;
	Insert into Rooms Values (@type, @phone, @isFree, @userId); 
	Set @roomId = SCOPE_IDENTITY();
End
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteClient]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeleteClient]
	@clientId int
As
Begin
	If Not Exists (select 1 from Clients Where ClientID = @clientId)
		Throw 50001, 'ClientId is not exist', 1;
	Delete from Clients Where ClientID = @clientId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteReservation]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeleteReservation]
	@reservationId int
As
Begin
	If Not Exists (select 1 from Reservation Where ReservationID = @reservationId)
		Throw 50001, 'ReservationId is not exist', 1;
	Delete from Reservation Where ReservationID = @reservationId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteRoom]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_DeleteRoom]
	@roomId int
As
Begin
	If Not Exists (select 1 from Rooms where RoomID = @roomId)
		Throw 50001, 'RoomID is not exist', 1;
	Begin try
	Delete from Rooms Where RoomID = @roomId
	End try
	Begin Catch
		if ERROR_NUMBER() = 547
			Throw 50002, 'Cannot delete this room because of realted with reservation', 1;
		Throw;
	End Catch
End
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUser]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeleteUser]
	@userId int
As
Begin
	If Not Exists (select 1 from Users where UserID = @userId)
		Throw 50001, 'UserID is not exist', 1;
	Delete from Users Where UserID = @userId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindClient]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindClient]
	@clientId int
As
Begin
	Select * from Clients Where ClientID = @clientId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindReservation]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindReservation]
	@reservationId int
As
Begin
Select * from Reservation Where ReservationID = @reservationId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindRoomByRoomId]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindRoomByRoomId]
	@roomId int
As
Begin
	Select * from Rooms Where RoomID = @roomId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindRoomByType]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindRoomByType]
	@type nvarchar(50)
As
Begin
	Select * from Rooms Where Type = @type and IsFree = 1
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindUserByUserId]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindUserByUserId]
	@userId int
As
Begin
	Select * from Users where UserID = @userId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindUserByUsername]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindUserByUsername]
	@username nvarchar(50)
As
Begin
	Select * from Users where UserName = @username
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindUserByUsernameAndPass]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[SP_FindUserByUsernameAndPass]
	@username nvarchar(50),
	@password nvarchar(100)
As
Begin
	Select * from Users Where UserName = @username and Password = @password
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllClients]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllClients]
As
Begin
	Select * from Clients order by ClientID desc
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllReservations]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllReservations]
As
Begin
	Select * from Reservation_view order by ReservationID desc
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllRooms]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllRooms]
As
Begin
	Select * from Rooms order by RoomID desc
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllUsers]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllUsers]
As
Begin
	Select * from Users order by UserID desc
End
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateClient]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[SP_UpdateClient]
	@fname nvarchar(50),
	@lname nvarchar(50),
	@phone nvarchar(50),
	@address nvarchar(100),
	@national nvarchar(20),
	@userId int,
	@clientId int
As
Begin
	If Not Exists (select 1 from Clients where ClientID = @clientId)
		Throw 50001, 'ClientId is not exist', 1;
	Update Clients 
	Set FirstName = @fname, LastName = @lname, Phone = @phone, Address = @address, NationalNo = @national, CreatedByUserID = @userId
	where ClientID = @clientId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateReservtion]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[SP_UpdateReservtion]
	@dateIn datetime,
	@dateOut datetime,
	@roomId int,
	@clientId int,
	@userId int,
	@reservationId int
As
Begin
	If Not Exists (select 1 from Reservation where ReservationID = @reservationId)
		Throw 50001, 'ReservationId is not exist', 1;
	Update Reservation
	Set DateIn = @dateIn, DateOut = @dateOut, RoomNo = @roomId, ClientID = @clientId, CreatedByUserID = @userId
	where ReservationID = @reservationId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRoom]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateRoom]
	@type nvarchar(50),
	@phone nvarchar(50),
	@isFree bit,
	@userId int,
	@roomId int
As
Begin
	If Not Exists (select 1 from Rooms where RoomID = @roomId)
		Throw 50001, 'RoomID is not exist', 1;
	Update Rooms Set Type = @type, Phone = @phone, IsFree = @isFree, CreatedByUserID = @userId where RoomID = @roomId;
End
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUser]    Script Date: 7/31/2026 7:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_UpdateUser]
	@username nvarchar(50),
	@password nvarchar(100),
	@userId int
As
Begin
	If Not Exists (select 1 from Users where UserID = @userId)
		Throw 50001, 'UserID is not exist', 1;
	Begin try
	Update Users Set UserName = @username, Password = @password where UserID = @userId;
	End try

	Begin Catch
		if ERROR_NUMBER() = 2627
			Throw 50002, 'Username is already exist', 1;
		Throw;
	End Catch
End
GO
USE [master]
GO
